:root { 
--gray_900_14:#0e132214; 
--indigo_300_3a:#7189b83a; 
--deep_purple_800:#38289f; 
--white_A700_11:#ffffff11; 
--black_900_89:#00000089; 
--black_900_01:#0f0901; 
--indigo_600_71:#2f44b571; 
--blue_gray_900_01:#333333; 
--blue_gray_700:#4f5665; 
--blue_gray_900:#383736; 
--purple_500:#9920c3; 
--black_900_02:#020015; 
--blue_gray_100:#cecece; 
--orange_A200:#fb9e3c; 
--orange_800_01:#dc7000; 
--gray_800:#4e4e4e; 
--orange_800:#e47400; 
--orange_A200_01:#fea250; 
--gray_200:#e7e7e7; 
--purple_A700_1c:#b000dc1c; 
--indigo_A700:#2251f5; 
--gray_900_5f:#0d0f255f; 
--white_A700:#ffffff; 
--deep_orange_A200:#ff7b31; 
--blue_gray_50:#eeeff2; 
--blue_gray_100_01:#d2d2d2; 
--white_A700_1c:#ffffff1c; 
--red_500:#f53737; 
--green_600:#22a44f; 
--gray_50:#fffbfb; 
--red_50:#ffebeb; 
--teal_400:#2fab73; 
--black_900:#070707; 
--yellow_900:#fa9021; 
--deep_purple_A700:#2110e6; 
--purple_50:#f9d5ff; 
--black_900_26:#00000026; 
--gray_900_02:#1b1b1b; 
--gray_500:#a4a4a4; 
--blue_gray_400:#898989; 
--blue_800:#3065ca; 
--red_A100:#ff8383; 
--gray_900:#1c140f; 
--gray_900_01:#1b140e; 
--orange_700:#fa8305; 
--green_A400_1c:#00dc8c1c; 
--gray_300:#dddddd; 
--gray_300_01:#dde0e4; 
--yellow_900_01:#e87d0e; 
--orange_900_1c:#dc42001c; 
--indigo_900:#05109d; 
--deep_purple_800_03:#3b2a9f; 
--deep_purple_800_04:#3a299f; 
--deep_purple_800_01:#422f9c; 
--deep_purple_800_02:#3c2a9e; 
}